*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
/* navbar section */
nav {
    display: flex;
    justify-content: space-around;
    padding: 25px 0;
    align-items: center;
}
.logo img {
 cursor: pointer;
}
.menu > ul {
   display: flex;
   list-style: none;
   gap: 24px;
}
.menu ul li a {
    text-decoration: none;
    color: #575757;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.global-button {
    color: #FFFFFF;
    background-color: #1D4ED8;
    padding: 12px 12px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}
body {
    padding: 0;
}
/* hero section */
.header-container {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/banner.jpg");
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    background-position: center;
    display: flex;
    align-items: center;
}
.hero-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding: 0 20px;
    margin: 0px auto;
}
.hero-child  h2 {
    font-size: 64px;
    font-weight: bold;
    color: #FFFFFF;
}
.hero-child p {
    font-size: 22px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.9);
    max-width: 760px;
    font-style: italic;
}
.hero-child button{
    padding: 14px 30px;
    margin-top: 40px;
}
/* Meet the Speakers section */
.meet-speakers{
    margin: 20px 10px;
}
.meet-speakers > h2 {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #000102;
    padding:80px;
}
.speakers-parent {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    
}
.speakers-parent img{
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
}
.speakers > span {
    color: #2563EB;
    font-size: 12px;
    font-weight: 600;
    margin: 0 8px;
}
.speakers-description {
    color: #575757;
    font-size: 14px;
    font-weight:400;
    margin: 0 8px;
}
.speakers h4 {
    font-size: 20px;
    font-weight: bold;
    color: #0D1B2A;
    margin: 0 8px;
}
.speakers {
    display: grid;
    background: #fff;
    border: 1px solid #ececec;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
    height:430px;
    transition: 0.3s;
}
.speakers:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
/* price card section */
.pricing-section {
    margin: 0 40px;
}
.pricing-section > h2{
    color: #0D1B2A;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 30px;
}
.pricing-section >p {
    color: #575757;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.pricing-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    gap: 30px;
}
.package {
    display: block;
    font-size: 13px;
    font-weight: 600;
    color: #888888;
    padding: 8px 0;
}
.price {
    font-size: 44px;
    font-weight: bold;
    color: #0D1B2A;
    padding: 10px 0;
}
.card {
  width: 300px;
  height: 380px;
  display: grid;
  align-items: start;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;

}
.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
.card > p{
    font-size: 13px;
    font-weight: 400;
    color: #888888;
    padding: 8px 0;
}
.card ul li {
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    padding: 5px;
}
.card ul li::marker{
    color: #2563EB;
}
.price-card-btn {
  font-size: 14px;
  font-weight: 600;
  color: #0D1B2A;
  background-color: #F8F9FB;
  border: 1px solid #0D1B2A ;
  width: 90%;
  padding: 8px 20px;
  border-radius: 8px;
  margin: 12px 0;
  cursor: pointer;
}
.price-card-pro-btn {
  font-size: 14px;
  font-weight: 600;
  color: #FFFFFF;
  background-color: #2563EB;
  border: none;
  width: 100%;
  padding: 8px 20px;
  border-radius: 8px;
  margin: 12px 0;
  cursor: pointer;
}
.pro-card {
    background-color: #0D1B2A;
    border-radius: 12px;
    width: 320px;
    height: 400px;
    display: grid;
    align-items: start;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}
.pro-card:hover{
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
.pro-card > .price {
    font-size: 44px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 10px 0;
}
.pro-package{
    display: block;
    font-size: 13px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.5);
    padding: 8px 0;
}
.pro-p {
    font-size: 13px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.5);
    padding: 8px 0;
}
.pro-card ul li {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    font-weight: 400;
    padding: 5px;
}
.pro-card ul li::marker{
    color: #2563EB;
}